*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

canvas {
    width: calc(64px * 24);
    height: calc(64px * 12);
    border: 16px groove rgb(207, 75, 75);
}